#BrandName{
    font-family: 'Sacramento', sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.brandname{
    color: peru;
    background: linear-gradient(to right, white,white 50%, peru 50%);
    transition: background-position 275ms ease;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}
.brandname:hover{
    background-position: 0 100%;
}

.fontnav{
    font-size: 20px;
    background: linear-gradient(to right, white,white 50%, peru 50%);
    transition: background-position 275ms ease;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}
.fontnav:hover{
    background-position: 0 100%;
}
.vertical{
    vertical-align:middle;
}
.navbar{
    width:100%;
    height:75px
}
.username{
    font-size : 20px;
    padding-right : 20px;
    color : peru;
}